{% load static %}
<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="utf-8">
        <title>TimeTrackTool</title>
        <link rel="stylesheet" type="text/css" href="{% static 'TopPage/css/style.css' %}" />
    </head>
    <body>
        <h1>{{title}}</h1>
        <p>{{message|safe}}</p>
        <table>
        <form action="{% url 'TopPage' %}" method="POST">
            {% csrf_token %}
            {{ form.as_table }}
            <tr><td></td><td><input type="submit" value="click"></td></tr>
        </form>
        </table>
    </body>
</html>